### ignore everything
/*

# including hidden files, those have to be manually added to the repo.
/**/.*

### except for the following top-level whitelist:

# folders
!/src
!/tests

# global build, to be published
!/global.js
!/global.js.map

# config files
!/.builderrc
!/.editorconfig
!/.gitignore
!/.npmignore
!/.npmrc
!/builder.config.js
!/tsconfig.json
!/package.json

# the basics!
!/README.md
!/LICENSE
